<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:dbconn/conninfo.properties"/>

    <bean class="org.apache.commons.dbcp2.BasicDataSource" id="hanul">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${hanul.username}"/>
        <property name="password" value="${hanul.password}"/>
    </bean>
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="factory_hanul">
        <property name="dataSource" ref="hanul"/>
        <property name="mapperLocations" value="classpath:sqlmap/*-mapper.xml"/>
        <property name="configLocation" value="classpath:sqlmap/typeConfig.xml"/>
    </bean>

</beans>